.title {
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
    color: #1A1919;
}
.dream-job {
    background-image: linear-gradient(55deg, #7E8FFE 0%, rgb(151, 116, 255) 100%);
    
}